$header-height: 120px;
$header-bg-color: #2196F3;
$menu-text-height: 20px;
$brand-text-height: 80px;
$tagline-font-size: 18px;
$tagline-bg-color: darken(#0D47A1, 20%);

$menu-bg-base-color: rgba(#D50000, 0.8);

$menu-bg-base-color: rgba(#303F9F, 0.8);

$menu-bg-colors: 
	darken($menu-bg-base-color, 10%), 
	//darken($menu-bg-base-color, 5%),
	$menu-bg-base-color, 
	//darken($menu-bg-base-color, 5%),
	darken($menu-bg-base-color, 10%), 
	rgba(#FF5722, 0.8);



$main-ct-border-col: #DDF;
$main-ct-side-borders: 1px solid $main-ct-border-col;
$main-ct-bg-color: #FFF;

.row.header-flex {
	display: flex;
}

#header {
	height: $header-height;
	background-color: $header-bg-color;
}

#menu-ct {
	padding: 0;
	background-image: url(../img/menu-bg.jpg);
	background-size: cover;
	background-position: middle right;
	
	align-self: flex-end;
	width: $header-height * length($menu-bg-colors);
}

.menu-tile {
	height: $header-height;
	width: $header-height;
	
	display: table;
	
	line-height: $menu-text-height;
	font-family: "Yanone Kaffeesatz";
	font-size: $menu-text-height;
	letter-spacing: 0.1em;
	
	color: white;
	font-weight: bold;
	
	float: left;

	@for $i from 1 through length($menu-bg-colors) {
		&:nth-of-type(#{$i}) {
			background-color: nth($menu-bg-colors, $i);
		}
	}

	div {
		vertical-align: middle;
		display: table-cell;
		text-align: center;
	}
	
	&:hover {
		text-decoration: none;
		color: white;
		background-color: rgba(#333, 0.8);
	}
}

#brand-ct {
	flex-grow: 1;
	color: white;

	font-family: "Exo 2", sans-serif;
	font-size: 80px;
	font-weight: 700;
	font-style: italic;

	text-transform: uppercase;
	
	text-shadow: 2px 2px 0 $header-bg-color, 4px 4px 0 #0D47A1;
}

#main-ct-outer {
	background-color: lighten($header-bg-color, 40%);
}

#main-ct {
	border-left: $main-ct-side-borders;
	border-right: $main-ct-side-borders;
	background-color: $main-ct-bg-color;
	
	min-height: calc(100vh - #{$header-height} - 33px - 24px);
	padding-bottom: 40px;
}

#tagline-ct {
	font-size: $tagline-font-size;
	background-color: $tagline-bg-color;
	color: white;
	font-family: Nunito, sans-serif;
	padding: 3px 0;
}


@media (max-width: 1199px) {
	#menu-ct {
		width: $header-height * length($menu-bg-colors) / 2;
		
		.menu-tile {
			height: $header-height / 2;
		}
	}
}

@media (max-width: 767px) {
	.row.header-flex {
		display: block;
	}
	
	#brand-ct {
		width: 100%;
		height: $header-height / 2;
		font-size: $header-height / 2 * 0.75;
		padding-left: 30px;
	}
	
	#menu-ct {
		width: 100%;
		float: none;
		height: $header-height / 2;
		
		.menu-tile {
			height: $header-height / 2;
			width: 100% / length($menu-bg-colors);
			font-size: $menu-text-height * 0.75;
		}
	}
}

@media (max-width: 575px) {
	#header {
		height: auto;
		.container {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	
	#brand-ct {
		font-size: 20px;
		height: 30px;
	}
	
	#menu-ct {
		height: 70px;
		
		.menu-tile {
			font-size: 14px;
			line-height: 14px;
			height: 35px;
			width: 100% * 2 / length($menu-bg-colors); 
		}
	}
	
	#tagline-ct {
		font-size: 11px;
		padding: 2px 5px;
		
		.container {
			width: 100%;
			padding: 0;
			text-align: center;
		}
	}
}


.content-frame {
	display: flex;
	flex-flow: row;
	align-items: stretch;

	border: 1px solid #DDD;
	border-radius: 20px;
	margin: 10px;
	padding: 0;
	overflow: auto;

	font-size: 14px;

	h3 {
		font-size: 150%;
		font-weight: bold;
	}

	&.reverse {
		flex-flow: row-reverse;
	}

	.content {
		flex: 3;
		padding: 10px 20px;

		& > h3 {
			color: $tagline-bg-color;
			text-shadow: 3px 3px 0 #F2F2F2;
		}
	}
}

.price-section {
	.price-old {
		text-decoration: line-through;
		font-size: 14px;
		line-height: 12px;
		padding: 0 0.5em;
		text-align: center;
	}

	.price {
		font-weight: bold;
		font-size: 48px;
		text-align: center;
	}

	.local {
		text-align: right;
	}

	.price-extended {
		margin-top: 15px;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
	}

	.link {
		font-size: 32px;
		text-align: center;
		font-weight: bold;
	}
}

.section-sidebar {
	flex: 1;
	padding: 10px;
	border-left: 2px inset $tagline-bg-color;
	color: white;

	&.green {
		background-color: #7cb904;
	}
	&.blue {
		background-color: $header-bg-color;
	}
	&.left {
		border-left: none;
		border-right: 2px inset $tagline-bg-color;
		border-radius: 20px 0 0 20px;
	}
	&.narrow {
		flex: 0.33;
	}

	h3 {
		font-size: 150%;
		font-weight: bold;
	}

	a {
		color: white;
		text-decoration: underline;
	}

	.single-glyph {
		font-size: 60px;
		text-align: center;
	}
}

.indent-3em {
	padding-left: 3em;
}

.contact-form {
	textarea {
		min-height: 5em;
	}

	button[type=submit] {
		float: right;
	}
}

.content-panel {
	margin: 10px;
	padding: 10px;

	& > h3 {
		font-family: Nunito, sans-serif;
		color: $tagline-bg-color;
		text-shadow: 3px 3px 0 #F2F2F2;
		font-size: 24px;
	}

	ul {
		list-style: none;
		padding: 0px;

		li:before {
			content: "\2605";
			font-size: 125%;
			margin: 0 1em;
		}
	}
}

.carousel-caption {
	text-shadow: 0 0 3px black, 0 0 5px black, 0 0 7px black, 0 0 10px black;

	h3 {
		font-size: 36px;
	}

	p {
		font-size: 18px;
	}
}